@import '../../App.scss';

.hero-container {
    margin-top: 80px;
    display: flex;
    justify-items: center;
    background-color: $dark-background;
    cursor: default;
    width: 100%;
    line-height: 1.3;
}

.hero-content {
    margin: 0 25% 0 25%;
    padding: 4rem 0 4rem 0;
    width: 100%;
    color: $dark-text;
    font-family: $content-font-family;
}

.intro-text {
    line-height: 1.5;
    font-size: 1rem;
    max-width: 600px;
}

.name-text {  
    margin: 0 !important;  
    font-size: 4rem;
}