.menubutton {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    color: #f9f9f9;
    font-size: 13px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    background-color: #0f1923;

    :hover {
        background: rgba(128, 128, 128, 0.3);
        border-radius: 6.4px;
    }
  }

  .buttontext {
    position: relative;
    display: block;

    padding: 7.5px 16px;
    text-align: center;
    font: inherit;
    margin-right: 4px;

    
    z-index: 1;
    text-align: center;
    cursor: pointer;
    color: white;
  
    background-color: transparent;
  }